<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="spanish">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clima</title>
  </head>
  <body>
    <div class="container">
      <h1>Clima Actual</h1>
      <div class="info">
        <h3>Información de los Datos</h3>
        <p>
          Esta información proviene de la Biblioteca Mundial. Los valores de
          temperatura y precipitación mostrados son promedios globales para un
          día específico en el mes correspondiente, calculados a partir de
          mediciones recolectadas en todo el mundo. Esta información se muestra
          con colores dependiendo si los valores son:
          <span class="baja-texto">bajos</span>,
          <span class="media-texto">medios</span> o
          <span class="alta-texto">altos</span>.
        </p>
      </div>
      <h2 id="mes-anio"></h2>
      <table>
        <thead>
          <tr>
            <th>Año</th>
            <th>Mes</th>
            <th>Temperatura (°C)</th>
            <th>Precipitación (mm)</th>
          </tr>
        </thead>
        <tbody id="tabla-clima"></tbody>
      </table>
      <button id="activar-cambio">Iniciar Cambio Automático</button>
      <button id="detener-cambio" style="display: none">
        Detener Cambio Automático
      </button>
      <button onclick="window.location.href='/hola';">Volver a Hola</button>
    </div>
    <script>
      let datos = [];
      let intervaloCambio = null;

      async function cargarDatos() {
        const response = await fetch("/data/clima");
        datos = await response.json();
        mostrarDatoAleatorio();
        iniciarCambioAutomatico();
      }
      function extraerMesAnio(fecha) {
        const date = new Date(fecha);
        const meses = [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ];
        return {
          mes: meses[date.getMonth()],
          anio: date.getFullYear(),
        };
      }

      function determinarClase(valor, tipo) {
        if (tipo === "temperatura") {
          const minimo = -2.6030471;
          const medio = 8.446663453504387;
          const maximo = 18.773403;

          const intermedioMinMedio = 2.921808176752194;
          const intermedioMedioMax = 13.610033226752193;

          if (valor <= intermedioMinMedio) {
            return "baja";
          } else if (valor <= intermedioMedioMax) {
            return "media";
          } else {
            return "alta";
          }
        }

        if (tipo === "precipitacion") {
          const minimo = 48.43859;
          const medio = 60.205699289473685;
          const maximo = 80.671455;

          const intermedioMinMedio = 54.32214464473684;
          const intermedioMedioMax = 70.43857714473684;

          if (valor <= intermedioMinMedio) {
            return "baja";
          } else if (valor <= intermedioMedioMax) {
            return "media";
          } else {
            return "alta";
          }
        }
      }

      function mostrarDatoAleatorio() {
        if (datos.length === 0) return;

        const indice = Math.floor(Math.random() * datos.length);
        const dato = datos[indice];
        const { mes, anio } = extraerMesAnio(dato.time);

        const tbody = document.getElementById("tabla-clima");
        tbody.innerHTML = `
                <tr>
                    <td>${anio}</td>
                    <td>${mes}</td>
                    <td class="${determinarClase(
                      dato["timeseries-tas-monthly-mean"],
                      "temperatura"
                    )}">${dato["timeseries-tas-monthly-mean"].toFixed(2)}</td>
                    <td class="${determinarClase(
                      dato["timeseries-pr-monthly-mean"],
                      "precipitacion"
                    )}">${dato["timeseries-pr-monthly-mean"].toFixed(2)}</td>
                </tr>
            `;
      }

      function iniciarCambioAutomatico() {
        if (!intervaloCambio) {
          intervaloCambio = setInterval(mostrarDatoAleatorio, 60000);
          document.getElementById("activar-cambio").style.display = "none";
          document.getElementById("detener-cambio").style.display =
            "inline-block";
        }
      }

      function detenerCambioAutomatico() {
        if (intervaloCambio) {
          clearInterval(intervaloCambio);
          intervaloCambio = null;
          document.getElementById("activar-cambio").style.display =
            "inline-block";
          document.getElementById("detener-cambio").style.display = "none";
        }
      }
      document
        .getElementById("activar-cambio")
        .addEventListener("click", iniciarCambioAutomatico);
      document
        .getElementById("detener-cambio")
        .addEventListener("click", detenerCambioAutomatico);

      cargarDatos();
    </script>
  </body>
</html>
