<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Inicial</title>
</head>
<body>
    <div class="container">
        <img th:src="@{/images/logo-fisi.png}" alt="Logo del curso">

        <h1>Sistemas Distribuidos</h1>

        <h2>Integrantes del Grupo</h2>
        <ul>
            <li style="background-color: #38b0de;">Carlos Eric Chujutalli Paucar</li>
            <li style="background-color: #f0db4f;">Carlos Arturo Gonzales Torres</li>
            <li style="background-color: #38b0de;">Joaquin Darwin Gabriel Del Aguila Rios</li>
            <li style="background-color: #f0db4f;">Leo David Soto Soto</li>
        </ul>
    </div>
</body>
</html>
